*.ipynb
__pycache__/
notebooks/
static/
tmp.*
evaluation/
*_private.py
whisper_streaming/
data/
*.log
train.py_backup
train_viktor.py
kulikreq.txt
tmp*
stream_file.py
streaming_transcription_beam.py
streaming_transcription_greedy.py
run_tomer_repro.sh
local_agreement_streaming_transcription.py
.vscode/